NEXT_PUBLIC_SUPABASE_URL=https://ptqqvezawobgnheesgvh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_BASIC_AUTH_USER=
ADMIN_BASIC_AUTH_PASS=
LLAMA_API_URL=
LLAMA_API_KEY=
LLAMA_MODEL=
